@using CauriousPotato.Requests.Ingredients
@using CautiousPotato.Client.Services

<FluentCard>
    @if (_ingredients == null)
    {
        <FluentProgressRing />
    }
    else
    {
        <ul>
            @foreach (var ingredient in _ingredients)
            {
                <li>
                    <FluentStack>
                        <span>@ingredient.Name</span>
                        <FluentButton Appearance="Appearance.Neutral" OnClick="@(async () => await HandleDeleteAsync(ingredient))">Delete</FluentButton>
                    </FluentStack>
                </li>
            }
        </ul>
    }
</FluentCard>
