@inherits LayoutComponentBase

<div>
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header><h1>Cautious Potato</h1></Header>
        <SubHeader><p>Where potatoes are tracked</p></SubHeader>
        <Body>
            @Body
        </Body>
        <NavMenuContent>
            <NavMenu />
        </NavMenuContent>
    </FluentMainLayout>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
